@import '_reset.scss';
@import '_fonts.scss';

body {
  font-family: 'Noto Sans', Arial, 'Liberation Sans', sans-serif;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  padding: 3rem;
  color: rgba(#fff, 0.9);
  width: 100%;
  min-height: 100vh;
}

.content {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 3rem;
  font-size: 1.5rem;

  > strong {
    display: block;
    font-size: clamp(1.5rem, 1vw + 1rem, 1.875rem);
    margin-block-end: 0.25em;
    letter-spacing: 0.1em;

    background: linear-gradient(-45deg, #224b7a 27%, #0c2036 78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    position: relative;
  }

  > div {
    letter-spacing: -0.01em;
  }
}
