@import 'normalize-scss';
@include normalize();
@import url(_fonts.scss);

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  font-family: 'Noto Sans', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  padding: 3rem;
  color: rgba(#fff, 0.9);
  width: 100%;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../images/b.jpg');
  background-size: cover;
  background-blend-mode: multiply;
}

.content {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 3rem;
  font-size: 1.5rem;

  > img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 3rem;
  }

  > strong {
    display: block;
    font-size: 1.125em;
    margin-bottom: 0.25em;
    letter-spacing: 0.1em;
  }
}

.example {
  display: grid;
  align-items: flex-start;
  transition: all 0.5s;
  user-select: none;
  background-image: linear-gradient(to bottom, white, black);
}
